.blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding:8%;
  }
  
  .blog-post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .blog-post img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .blog-post h2 {
    margin-bottom: 10px;
  }
  
 
  