* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  zoom:95%;
}

p{
  padding: 0.4em;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

header {
  padding: 20px;
}

main {
  padding: 0.5em;
}

button {
  padding: 12px 26px;
  color: #fff;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  transition: all 150ms ease-in-out;

  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 0 inset;
  background-color: #1A1B1D;
  background-image: linear-gradient(180deg, rgba(206, 211, 234, 0.07) 0%, transparent 100%);
}

button:hover {
  filter: brightness(1.1);
}

.button:active {
  transform: scale(.95);
}


.container {
  display: flex;
  justify-content: space-between;
}

.left {
  /* Add styles for the left container */
  width:8%;
  padding: 0.1em;
}

.right {
  /* Add styles for the right container */
  width:92%;
  padding: 0.1em;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.writer2{
  font-size: 2.0em;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.4em;
}

.topspace {
  padding:2.5em;
  position: relative;
}

.m-warning {
  border:3px solid #383838;
  padding-bottom: 2.5em;
  height: 12px;;
}