body{
  margin:0;
  padding:0;
  background-color: #e5e5f7;
  opacity: 1;
  background-image:  linear-gradient(#6c6c6d 1px, transparent 1px), linear-gradient(to right, #6c6c6d 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}

.bg-gradient-white{
  padding-top: 4% ;
}

@font-face {
  font-family: 'mindscape';
  src: url('./assets/fonts/MindEscape1.ttf');
}

@font-face {
  font-family: 'shangrai';
  src: url('./assets/fonts/ShangraiObliqueFree.otf');
}

@font-face {
  font-family: 'nevera';
  src: url('./assets/fonts/Nevera-Regular.otf');
}

.font-main{
  font-family: 'nevera';
}

.font-tribute{
  font-family:'shangrai';
}

.font-secondary{
  font-family: 'mindscape';
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background-color: transparent; /* Background color of the track */
  }

  ::-webkit-scrollbar-thumb { 
    background-color: rgb(115, 0, 255); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(111, 14, 214); /* Color of the thumb on hover */
  }