.navbar {
  position: fixed;
  width: 80%;
    background:linear-gradient(#33333381,#33333357);
    backdrop-filter: blur(5px);
    color: #ffffff;
    border-radius:3.2em;
    border:#969393;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .navbar-links.active {
    height: auto;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  
  .navbar-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    padding: 0;
  }
  
  .navbar-toggle span {
    background-color: #fff;
    height: 0.3em;
    width: 1.3em;
    display: block;
    transition: all 0.3s ease;
  }
  
  .navbar-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  .logo{
    /* box-shadow: rgba(67, 167, 158, 0.56) 0px 22px 70px 4px; */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
  }

  .cont-0{
    display:flex;
  }
  