.banner {
    padding-top: 5.3em;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
  }
  
  .banner img {
    width: 40%;
    height: auto;
    display: block;
  }
  
  .writer{
     font-size: 2.5em;
     font-style: oblique;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .scroll{
    zoom:200%;
    padding-bottom: 4.5em;
    align-items: center;
    width:6.5em;
  }